@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.logo-menu {
    /* display: flex;
    justify-content: left; */
    font-size: 80px;
    color: #000000;
    text-decoration: none;
    margin: 40px 0px;
}
.logo-menu span {
    color: aquamarine;
}
.header-menu {
    display: flex;
  justify-content: center;
  /* border-right-color:2px solid #FFFFFF; */
  /* border: 1px solid #FFFFFF; */
  background:#222F3A;
  /* list-style-type: none;  */
  margin: 50px 0px;
  
}
.header-menu li { 
    border-left:2px solid #FFFFFF;
    padding: 25px;
}

.header-menu li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    /* padding: 25px 35px 19px;
    border-right-color:#FFFFFF ; */
}

.hero-menu {
    display: flex;
    justify-content: space-between;
}

.hero-menu-block1  {
    
    border: 1px solid #000000;
    list-style-type: none;
    align-self: flex-start;
    /* width: 340px;
    height: 400px;
    margin: 0; */
}
.hero-menu-block1 li {
    
    padding: 25px 90px 25px 45px;
    
    /* width: 300px; */
}
.hero-menu-block1 li a {
    color: #495863;
    font-size: 27px;
    text-decoration: none;
    
}
.hero-menu-block1-title {
    background: #DBDBDB;
    font-weight: bold;
}

.hero-menu-block2 {
    display: flex;
    justify-content: center;
    
    align-items: center;
    border: 1px solid #000000;
    /* margin-left: 52px; */
    width: 885px;
    height: 530px;

}

.text-ru, .text-en {
    width: 885px;
/* margin-left: 400px; */
margin-top: 32px;
}
.text-en {
/* margin-left: 400px; */
/* margin-top: 34px; */
margin-bottom: 54px;
}
.footer {
    display: flex;
    box-sizing: border-box;
}
.footer-menu-title a u{
    color: #051286;
}
.footer-menu li a{
    color: #010101;
    font-size: 28px;
    text-decoration: none;
   
}
.footer-menu {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
   
}

.footer-menu li:not(:first-child) {
    padding: 0 10px;
}
.footer {
    background: #63696E;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer-text {
    color: #010101;
    font-size: 24px;
}
