@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: "Montserrat", sans-serif;
}
.header-menu {
    width: 620px;
    padding: 25px 0;
    margin: 0 auto;
    list-style-type: none;
}
.header-menu li {
    display: inline-table;
    text-transform: uppercase;
    font-size: 18px; 
    padding: 0px 30px;
}
.header-menu li a {
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
}
.hero img{
    width: 100%;
}
.title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}
.sub-title {
    font-size: 16px;
    margin-bottom: 28px;
    text-align: center;
    color: #373737;
}
.button {
    margin: 30px 0 82px;
    vertical-align: middle;
    text-align: center;
}
.button-get {
    background: #FF0000;
    font-size: 12px; 
    font-weight: bold;
    width: 191px;
    height: 51px;
}
  .footer-title {
    text-align: right;
    font-size: 16px;
    color: #373737;
    font-weight: bold;
}  
